
button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px; 
}

button a {
    text-decoration: none;
    color: #fff;
}

button:hover {
    background-color: #555;
}

.retirarbtn {
    background-color: #FF5733; 
}
