* {
    margin: 3;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

header {
    background-color: #FAFAFA;
    padding: 40px 0;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #323232;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #3f0244 ;
}

.logo {
    font-size: 25px;
    font-weight: 800;
    color: #3f0244 ;
    text-transform: uppercase;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.header-txt {
    width: 85%;
}

.header-txt h1 {
    line-height: 1;
    color: #323232;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 10px;
}

.header-txt p {
    font-size: 16px;
    color: #818181;
    margin-bottom: 45px;
}

.header-img {
    width: 50%;
}


::selection{
  color: #fff;
  background: #4285f4;
}
.wrapper{
  width: 370px;
  margin: 85px auto 0;
}
.select-btn, li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn{
  height: 65px;
  padding: 0 20px;
  font-size: 22px;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btn i{
  font-size: 31px;
  transition: transform 0.3s linear;
}
.wrapper.active .select-btn i{
  transform: rotate(-180deg);
}
.content{
  display: none;
  padding: 20px;
  margin-top: 15px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.wrapper.active .content{
  display: block;
}
.content .search{
  position: relative;
}
.search i{
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input{
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #B3B3B3;
}
.search input:focus{
  padding-left: 42px;
  border: 2px solid #4285f4;
}
.search input::placeholder{
  color: #bfbfbf;
}
.content .options{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar{
  width: 7px;
}
.options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.options li{
  height: 50px;
  padding: 0 13px;
  font-size: 21px;
}
.options li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: #3f0244 ;
    color: #FFFFFF;
    border-radius: 4px;
}
@media (max-width: 990px) {

    .menu {
        display: flex;
        padding: 0px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
        padding: 8px 30px 50px 30px;
    }

    .header-content {
        flex-direction: column;
    }

    .header-txt {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .header-txt p{
        padding: 30px;
        flex-direction: column;
    }

    .header-img {
        width: 100%;
    }

    .header-img img {
        width: 100%;
    }

    .about {
        padding: 30px;
        flex-direction: column;
    }

    .about-img {
        width: 100%;
        order: 2;
    }

    .about-img img {
        width: 100%;
    }

    .about-txt {
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-bottom: 25px;
    }

    .servicios {
        padding: 30px;
    }

    .servicios-content {
        margin-top: 25px;
        flex-direction: column;
    }

    .servicio-1 {
        margin-bottom: 20px;
    }

    .formulario-container {
        padding: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }

    form {
        width: 100%;
    }

    .footer {
        padding: 30px;
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .link ul {
        flex-direction: column;
    }

    .link ul li {
        margin: 0 0 15px 0;
    }
}
/* -- TABLA -- */
#tabla-exterior{
    width: 100%;
    border-collapse: collapse;
    position: flex;
}
#tabla-exterior th {
    background-color: #3f0244;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border: 1px solid white; /* Agrega un borde blanco de 1 píxel alrededor de las celdas th */
}
#tabla-exterior td{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}
#tabla-exterior tbody tr{
    background-color: grey;
    color: white;
}